/* Styling for both pages are here. Some additional styling for the leaderboard page are at the bottom */

/* Root Styles */
:root {
    --main-colour: #f9f9f9; /* Cool Off-White */
    --secondary-colour: #292C33; /* Dark Anthracite */
    --accent-colour: #c4a747; /* Metallic Gold Desaturated*/
    --button-colour: #292c3310; /* Dark Anthracite with High-Opacity */
}

/* General Font Styles */
body {
    font-size: 1.8rem; /*After reset = 18px - slightly larger to accomodate lighter font */
    font-family: "Nunito","Bahnschrift", "Geneva", sans-serif;
    background-color: var(--main-colour);
    min-height: 100vh;
}

h1, h2 {
    line-height: 1.1;
    font-weight: lighter;
    color: var(--secondary-colour);
}

h1 {
    font-size: 3.2rem;
    margin: 3.2rem 0;
}

h2 {
    font-size: 2.4rem;
    margin: 2.4rem 0;
    text-align: center;
}

p {
    margin: 1.6rem 0;
}

/* Main Page (index.html) Styling */
/* Top Banner */
header {
    background-color: var(--secondary-colour);
    color: var(--main-colour);
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem;
    max-width: 96rem;
    margin: 0 auto;
}

header a {
    border-bottom: 0.2rem solid var(--accent-colour);
}

header a:hover {
    color: var(--accent-colour);
}

/* General Sections */
main {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 96rem;
    padding: 1.6rem;
    /* border: solid .3rem; For layout visualisation */
}

section {
    width: 100%;
    margin: 0 auto 1.6rem;
    /* border: solid .3rem; For layout visualisation */
}


    /* Question and Feedback Containers */
.top, .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}


    /* TODO ifTime: prettify buttons */
button, .button {
    width: 33%;
    padding: 0.8rem;
    border: 0.2rem solid var(--accent-colour);
    border-radius: 1.6rem;
    margin-top: 2.4rem;
    background-color: var(--button-colour);
}

button:hover, .button:hover {
    border-color: var(--accent-colour);
    color: var(--accent-colour);
    background-color: var(--secondary-colour);
    cursor: pointer;
}

.button {
    text-align: center;
}

    /* Container for JS quiz Answers */
#answers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

    /* List items that are populated with answer items by JS */
#answers li {
    width: calc(50% - 1.6rem); /* Set Width at 50% minus double (left & right) the margin */
    border: 0.2rem solid var(--accent-colour);
    padding: 0.8rem;
    list-style-position: inside;
    margin: 0.8rem;
    text-align: center;
    border-radius: 1.6rem;
    background-color: var(--button-colour);
    /* TODO ifTime: Set margin only between list items - maybe use grid instead of flex */
    /* TODO ifTime: style background colour of li same as button default */
}

#answers li:hover {
    border-color: var(--accent-colour);
    color: var(--accent-colour);
    background-color: var(--secondary-colour);
    cursor: pointer;
}

#answers li:active {
    border-color: var(--secondary-colour);
    color: var(--secondary-colour);
    background-color: var(--main-colour);
}

    /* Submit score section and form to be displayed on quiz end */
#submit-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

input {
    width: 33%;
    padding: 0.8rem;
    border: 0.2rem solid var(--accent-colour);
    border-radius: 1.6rem;
    background-color: var(--button-colour);
}

input:focus {
    outline-color: var(--secondary-colour);
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto auto 0;
    background-color: var(--secondary-colour);
}

footer p {
    text-align: end;
    padding: 0.8rem 1.6rem;
    font-size: 1.6rem;
    max-width: 96rem;
    margin: 0 auto;
    color: var(--main-colour);
}

.heart {
    color: var(--accent-colour);
    font-size: 1.6rem;
}

/* Additional styling for Leaderboard page */
    /* Container for Leadboard buttons*/
    #leaderboard-buttons{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
    /* Container for Leaderboard Scores */
    #leaderboard-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }
    
        /* List items that are populated with answer items by JS */
    #leaderboard-list li {
        width: 66%; /* Set Width at 50% minus double (left & right) the margin */
        border-bottom: 0.2rem solid var(--accent-colour);
        padding: 0.4rem 1.2rem;
        list-style: decimal;
        margin: 0.8rem;
    }

/* Media Queries for smaller viewports - TODO: check breakpoint size */

@media screen and (max-width: 480px) { 
    
    /* Sets vertical margins to 0 to allow whole quiz to fit without needing to scroll */
    h1, .top {
        margin-bottom: 0;
        margin-top: 0;
    }

     /* Sets more space between selectable answer list and stack column */
    #answers li {
        width: 100%;
        margin: 1.2rem 0;
    }
    /* Makes button larger relatively */
    button, .button, input {
        width: 66%;
    }

}